* {
    scrollbar-width: thin;
    scrollbar-color: #e228d8 #070d12;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }
  
  *::-webkit-scrollbar-track {
    background: #070d12;
    border-radius: 10px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #28b7e2;
    border-radius: 20px;
    border: 3px solid #070d12;
  }