@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
    background: url(../images/pexels-dana-tentis-370799.jpg) no-repeat center;
    background-size: cover;
    color: #f3f3f3;
    font-family: 'VT323', monospace;
    font-size: 18px;
    
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #070d12;
    border-radius: 10px;
    width: 370px;
    border: 3px solid #f3f3f3;
    overflow: hidden;
    
}

.card .profile{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 20px;
    gap: 10px;
}

.card .profile .photo{
    width: 96px;
    border-radius: 50%;
    border: 4px solid #28b7e2;
}

.card .profile .name{
    font-size: 26px;
}

.card .profile .job{
    font-size: 20px;
    color: #b8bbc5;
}

.card .card-information{
    margin-top: 15px;
    
}

.card .abas{
    display: flex;
}

.card .abas .aba{
    width: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 10px 0;
    transition: background-color 0.2s ease-in-out;
}

.card .abas .aba.selecionado{
    background-color: #262626;
}

.card .abas-information{
    /* padding-top: 30px; */
    background-color: #262626;
}

.card .abas .aba:hover{
    background-color: #414141;
}

.abas-information .information{
    min-height: 260px;
    padding: 15px;
    display: none;
}

.abas-information .information.selecionado{
    display: block;
}


.abas-information .sub-title{
    font-size: 22px;
    text-align: center;
    margin-bottom: 25px;
}

.abas-information .description{
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 10px;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-height: 180px;
    overflow-y: auto;
}

.redes-sociais li a{
    display: block;
    width: 250px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: opacity 0.3s ease-in-out;
}

.redes-sociais li a:hover{
    opacity: 0.8;
}

.redes-sociais .curriculo{
    background-color:  #4cb362;
}

.redes-sociais .linkedin{
    background-color: #0A66C2;
}

.redes-sociais .github{
    background-color: #414141;
}

.abas img{
    width: 30px;
}

.fa-heart{
    width: 40px;
    color: #28b7e2;
}